                * {
                    padding: 0;
                    margin: 0;
                    font-family: Montserrat;
                }
                
                body {
                    background: url("images/bg.png");
                    background-size: 100vw 100vh;
                    text-align: center;
                }
                
                #drum kbd {
                    margin-top: 20px;
                    font-size: 2.5em;
                    font-weight: bold;
                    color: black;
                    display: flex;
                    padding: 30px;
                }
                
                #drum {
                    display: inline-flex;
                    flex-direction: row;
                    align-items: center;
                }
                
                .drum1 {}